/* General Reset */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* font-family: 'Arial', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f1b379;
    color: #2b2b2b;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 1rem;
    color: #2b2b2b;

}

header nav ul li a {
    color: #2b2b2b;
    font-size: 1rem;
}

.section {
    padding: 2rem;
    text-align: center;
    background-color: #bdcad8;
}
/* Greeting Section Styles */
#greeting {
    padding: 2rem;
    text-align: center;
    /* background-color: #f4f4f4; */
    /* color: #333; */
}

#greeting h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#greeting-message {
    font-size: 1.2rem;
    /* color: #555; */
}

#about {
    /* background: #f4f4f4; */
}

#projects .project-grid {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background: #f1b379;
    border: 1px solid #1fd3d63e;
    padding: 1rem;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Resume Section Styles */
#resume {
    background-color: #f8f9fa;
    padding: 50px 20px;
  }
  
  #resume .container {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  
  #resume h2 {
    font-size: 2px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .resume-intro {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #555;
  }
  
  .btn-download {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  
  .btn-download:hover {
    background-color: #0056b3;
  }
  
  .resume-content {
    text-align: left;
    margin-top: 30px;
  }
  
  .resume-section {
    margin-bottom: 30px;
  }
  
  .resume-section h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
  }
  
  .resume-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .resume-section li {
    margin-bottom: 20px;
  }
  
  .resume-section h4 {
    font-size: 1.2em;
    color: #007bff;
  }
  
  .resume-section p {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
  }
  


footer {
    text-align: center;
    padding: 1rem;
    background: #f1b379;
    color: black;
}
/* Skills Section Styles */
#skills {
    padding: 2rem;
    /* background-color: #f9f9f9; */
    text-align: center;
}

.skills-container {
    max-width: 600px;
    margin: 0 auto;
    
}

.skill {
    margin-bottom: 1rem;
    text-align: left;
}

.skill p {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
    /* color: #333; */
}

.progress {
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    height: 10px;
    position: relative;
}

.progress-bar {
    background: linear-gradient(to right, #055908, #81c784);
    height: 100%;
    border-radius: 20px 0 0 20px;
}
